<div class="row m-4">
    <div class="col-12 col-sm-8 mx-auto ">
        <p class="text-center alert-danger">Pour pouvoir telecharger ou signer la convention vos documents
            justificatifs doivent etre
            validés</p>

    </div>
</div>
<form>
    <div class="form-row">
        <div class="col-12 col-sm-4 mx-auto">
            <h5 class="text-center">La Convention</h5>
            <img class="w-50" [src]="_d.bypassSecurityTrustUrl(imgsrc)">
            <input type="file" hidden="true" value="imgsrc" id="myConvention" class="form-control-file">
        </div>
    </div>
</form>