<h4 class="text-center p-3 my-4 text-primary border-bottom border-primary border-2" style="font-weight: 600">Ouverture
    Compte Epargne
</h4>
<form class="p-3 font-weight-bold">
    <h6 class="mb-3">IDENTITE</h6>
    <div class="form-group">
        <label for="myGenre" class="text-primary">Genre *</label>
        <div class="form-group ">
            <div class="form-check font-weight-normal">
                <input type="radio" class="form-check-input" name="sexe" [(ngModel)]="form.genre" id="myRadio"
                    value="Monsieur">
                <label for="myRadio" class="form-check-label">Monsieur</label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check font-weight-normal">
                <input type="radio" class="form-check-input" name="sexe" [(ngModel)]="form.genre" id="myRadio1"
                    value="Madame">
                <label for="myRadio1" class="form-check-label">Madame</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-4 form-group">
            <label class="text-primary" for="myNom">Nom *</label>
            <input type="text" name="nom" [(ngModel)]="form.nom" id="myNom" class="form-control">
        </div>
        <div class="col-12 col-sm-4 form-group">
            <label class="text-primary" for="myPrenom">Prenom *</label>
            <input type="text" name="prenom" [(ngModel)]="form.prenom" id="myPrenom" class="form-control">
        </div>
        <div class="col-12 col-sm-4 form-group  ">
            <label class="text-primary" for="mySpro">Situation professionnelle *</label>
            <select id="mySpro" name="situationPro" [(ngModel)]="form.situationPro" class="form-control">
                <option value="Developpeur" selected>Developpeur</option>
                <option value="Banquier">Banquier</option>
                <option value="Instituteur">Instituteur</option>
            </select>
        </div>
    </div>
    <div class="form-row">

        <div class="col-12 col-sm-4 form-group">
            <label class="text-primary" for="myDate">Date de naissance *</label>
            <input type="date" id="myDate" name=" dateNaissance" [(ngModel)]="form.dateNaissance" class="form-control">
        </div>
        <div class="col-12 col-sm-4 form-group ">
            <label class="text-primary" for="myLieuNais">Lieu de naissance *</label>
            <input type="text" id="myLieuNais" name=" lieuNaissance" [(ngModel)]="form.lieuNaissance "
                class="form-control">
        </div>
        <div class="col-12 col-sm-4 form-group">
            <label class="text-primary" for="myNation">Nationalité *</label>
            <input type="text" id="myNation" name="nationalite" [(ngModel)]="form.nationalite" class="form-control">
        </div>
    </div>
    <h6 class="my-3">ADRESSE</h6>
    <div class="form-row">
        <div class="col-12 col-sm-4 form-group">
            <label class="text-primary" for="myPays">Pays *</label>
            <select id="myPays" name="pays" [(ngModel)]="form.pays" class="form-control">
                <option value="Senegal" selected>Senegal</option>
                <option value="France">France</option>
                <option value="Niger">Niger</option>
            </select>
        </div>
        <div class="col-12 col-sm-4 form-group">
            <label class="text-primary" for="myVille">Ville *</label>
            <input type="text" id="myVille" name="ville" [(ngModel)]="form.ville" class="form-control">
        </div>
        <div class="col-12 col-sm-4 form-group">
            <label class="text-primary" for="myRegion">Région:</label>
            <input type="text" id="myRegion" name="region" [(ngModel)]="form.region" class="form-control">
        </div>
    </div>
    <div class="form-row">

        <div class="col-12 col-sm-4 form-group">
            <label class="text-primary" for="myAdresse">Adresse *</label>
            <input type="text" id="myAdresse" name="adresse" [(ngModel)]="form.adresse" class="form-control">
        </div>
        <div class="col-12 col-sm-4 form-group">
            <label class="text-primary" for="myTel">Téléphone *</label>
            <input type="tel" id="myTel" name="telephone" [(ngModel)]="form.telephone" class="form-control">
        </div>
    </div>
    <h6 class="my-3">MES DOCUMENTS JUSTICATIFS</h6>
    <div class="form-row">

        <!-- <div class="col-12 col-sm-4 form-group">
            <label class="text-primary" for="myPhoto">Selectionner photo *</label>
            <input type="file" id="myPhoto" #photoRef name="photo" (change)="chargerPhoto(photoRef.files)"
                class="form-control-file">
        </div> -->
        <div class="col-12 col-sm-4 form-group">

            <div class="w-5">
                <img class="" (click)="showImg(photoSrc)" style="height:40px;width:40px"
                    [src]="_d.bypassSecurityTrustUrl(photoRemoteSrc)">
            </div>
            <label class=" btn btn-outline-primary" for="myPhoto">Selectionner photo
                <input type="file" id="myPhoto" #photoRef name="photo" (change)="chargerPhoto(photoRef.files)"
                    class="form-control-file" hidden>
            </label>
            <div class="alert-danger" *ngIf="userLogin.photoArevoir">
                Veuillez revoir la photo svp
            </div>
        </div>
        <div class="col-12 col-sm-4 form-group">

            <div class="w-5">
                <img class="" (click)="showImg(cniSrc)" style="height:40px;width:40px"
                    [src]="_d.bypassSecurityTrustUrl(cniSrc)">
            </div>
            <label class=" btn btn-outline-primary" for="myCni">Carte d'identité
                <input type="file" id="myCni" #cniRef name="cni" (change)="chargerCni(cniRef.files)"
                    class="form-control-file" hidden>
            </label>
            <div class="alert-danger" *ngIf="userLogin.cniArevoir">
                Veuillez revoir la CNI svp
            </div>
        </div>
        <div class="col-12 col-sm-4 form-group">
            <div class="w-5">
                <img class="" (click)="showImg(factureSrc)" style="height:40px;width:40px"
                    [src]="_d.bypassSecurityTrustUrl(factureSrc)">
            </div>
            <label class=" btn btn-outline-primary" for="myFacture">Facture d'eau ou Electricité
                <input type="file" id="myFacture" #factureRef name="facture" (change)="chargerFacture(factureRef.files)"
                    class="form-control-file" hidden>
            </label>
            <div class="alert-danger" *ngIf="userLogin.factureArevoir">
                Veuillez revoir la facture svp
            </div>
        </div>
    </div>
</form>
<div class="row p-3">
    <div class="col-12 col-sm-4 mx-auto">
        <button type="button" class="btn btn-block btn-primary" (click)=envoyerForm()>ENVOYER</button>
    </div>
</div>
<div class="row">
    <div *ngIf="userData?.demandeOuverture==true" class="col-12 col-sm-8 mx-auto alert-success ">
        <p class="text-center "> Votre demande d'ouverture de compte est envoyée avec Success!
        </p>
    </div>
    <!-- <div *ngIf="userData?.demandeOuverture==true" class="col-12 col-sm-8 mx-auto alert-success ">
        <p class="text-center "> Votre demande d'ouverture de compte est envoyée avec Success!
        </p>
    </div> -->
</div>
<div class="row m-4">
    <div class="col-12 col-sm-8 mx-auto ">
        <p class="text-center alert-danger">Pour pouvoir telecharger ou signer la convention vos documents
            justificatifs doivent etre
            validés</p>

    </div>
</div>
<form>
    <fieldset disabled="!userLogin.etatDossier">
        <div class="form-row">
            <div class="col-12 col-sm-4 mx-auto ">
                <h5 class="text-center">La Convention</h5>


                <pdf-viewer [src]="conventionSrc" [fit-to-page]="true" [original-size]="false" [render-text]="false"
                    style="display:block;">
                </pdf-viewer>


                <!-- ! <img class="w-100 " [src]="_d.bypassSecurityTrustUrl(conventionSrc)"> -->
                <div class="form-group">
                    <input type="file" #conventionRef name="convention" id="myConvention"
                        (change)="chargerConvention(conventionRef.files)" class="form-control-file">
                </div>
            </div>
        </div>
    </fieldset>
</form>


<div *ngIf="showImgInModal" style="position: fixed; top: 5%; left: 5%; width: 100%; height: 700px; background: gray;">
    <div (click)="hideImg()" style="position: absolute; right: 5%; top: 5%; color: white; cursor: pointer;">Fermer</div>
    <img width="90%" height="100%" [src]="_d.bypassSecurityTrustUrl(imgToShow)">
</div>